
h3 {
  padding: 20px;
  margin-left: -40px;
}

.sidelist {
  color: red;

}

.cici-nav {
  margin-bottom: 0
}

.sidelink {
  color: black;
  
  font-weight: bold; 
}

.sidelink :hover {
  color: black;
}

.row .col-sm-9 {
  text-align: center;
  display: inline-block;
}


.row .col-md-3 {
  background: red;
  height: 500px;
}