
h3 {
  padding: 20px;
  margin-left: -40px;
}

.main-col {
  padding-left: 0;
  text-align: center;
}

.main-text {
  
  bottom: 0; 
  left: 0; 
  right: 0;
}
.img-responsive {
  width: 100%;
  position: relative;
}

.sidelist {
  list-style: square;
  color: red;

}

.cici-nav {
  margin-bottom: 0
}

.sidelink {
  color: black;
  
  font-weight: bold; 
}

.sidelink :hover {
  color: black;
}

.row .col-sm-9 {
  text-align: center;
  display: inline-block;
}


